# Ignore everything unless it is manually overridden
/*

# Overrides:
!.gitignore
!.gitconfig

!.p10k.zsh
!.wezterm.lua

!.config/
.config/*

!.config/tmux/

!.zshrc
!.bashrc

!.custom_binds.ahk

!.config/lazygit/
.config/lazygit/*
!.config/lazygit/config.yml

!.config/alacritty/
.config/alacritty/*
!.config/alacritty/alacritty.yml

!.config/nvim

!.config/skhd
!.config/yabai
!.config/sketchybar
!.config/karabiner
.config/karabiner/*
!.config/karabiner/karabiner.json
