[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[user]
	email = jackschedel@gmail.com
	name = Jack Schedel
[core]
	autocrlf = false
	whitespace = trailing-space,space-before-tab
	fileMode = false
	excludesfile = ~/.global_gitignore
[diff]
	ignoreWhitespace = change
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  p = pull
  P = push
  a = add
[init]
	defaultBranch = main
[push]
  default = simple
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-core.exe
